/* noto-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/noto-sans-v27-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/noto-sans-v27-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/noto-sans-v27-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/noto-sans-v27-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-jp-regular - latin */
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/noto-sans-jp-v42-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/noto-sans-jp-v42-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-size: 14px;
  line-height: 19px;
  font-family: "Noto Sans";
  font-weight: 400;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  max-width: 1920px;
  min-width: 1920px;
  padding-right: 360px;
  padding-left: 360px;
  margin-right: auto;
  margin-left: auto;
}
a {
  text-decoration: none;
}
li,
ol {
  list-style: none;
}
.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.head_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #868585;
}

/* /GLOBAL STYLES */

/* HEADER */
.header {
  height: 900px;

  margin-bottom: 150px;
}
.background_header {
  background-image: url("../images/main.jpg");
}
.background {
  margin: 0 auto;
  width: 1920px;

  background-size: contain;
  background-repeat: no-repeat;
}

.header_container {
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 76px;
}
.logo {
  margin-bottom: 140px;
}
.tarif {
  font-size: 18px;
  line-height: 24px;
  color: white;
  font-weight: 100;
  margin-bottom: 10px;
}
.header_title {
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
  margin-bottom: 8px;
  color: white;
}
.money {
  font-size: 42px;
  line-height: 57px;
  color: white;
  margin-bottom: 90px;
}
.consult {
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin-bottom: 260px;
}

/* /HEADER */

/* USLUGY */
.main {
  flex-grow: 1;
}
.uslugy {
  margin-bottom: 150px;
}
.uslugy_head_title {
  margin-bottom: 60px;
}
.uslugy_info {
  display: flex;
  justify-content: space-between;
}
.uslugy_info_text {
  width: 510px;
}
.uslugy_title {
  margin-bottom: 15px;
}
.uslugy_descripe {
  margin-bottom: 50px;
}
/* /USLUGY */

/* ZELENY */
.zeleny {
  margin-bottom: 150px;
}
.zeleny_title {
  margin-bottom: 60px;
}
.zeleny_head {
  display: flex;
  justify-content: space-between;
}
.zeleny_category {
  width: 50%;
}
.zeleny_list {
  width: 100%;
  display: flex;
}
.zeleny_item {
  margin-right: 40px;
}
.zeleny_link {
  font-size: 18px;
  line-height: 24px;
  color: #303030;
  font-weight: 500;
}
.zeleny_defination {
  width: 50%;
  height: 130px;
  font-size: 18px;
  line-height: 24px;
  color: #303030;
  font-weight: 700;
}
.homewrap {
  display: flex;
  margin-bottom: 100px;
}
.zeleny_info {
  display: flex;
  justify-content: space-between;
}
.zeleny_info_img {
  margin-right: 40px;
}
.sena {
  width: 235px;
  height: 114px;
}
.garanty_dol_wrap {
  display: flex;
  margin-bottom: 19px;
}
.garanty_wrap {
  width: 235px;
  height: 109px;
  margin-right: 40px;
}
.dolgosrochno_wrap {
  width: 235px;
  height: 107px;
}
.vid_vic_wrap {
  display: flex;
}
.vid_wrap {
  width: 235px;
  height: 78px;
  margin-right: 40px;
}
.vicokaya_wrap {
  width: 235px;
  height: 40px;
}
/* /ZELENY */

/* PASSIV */
.passiv {
  height: 525px;
  margin-bottom: 150px;
}

.passiv_container {
  height: 525px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/panels.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.passiv_info {
  width: 673px;
  font-weight: 100;
  font-size: 42px;
  line-height: 52px;
  color: white;
}
/* /PASSIV */

/* KLIENTI */
.klient {
  margin-bottom: 150px;
}
.klient_head_title {
  margin-bottom: 60px;
}
.klient_info {
  display: flex;
  justify-content: space-between;
}
.klient_info_text {
  width: 50%;
}
.klient_img {
  margin-right: 90px;
}
.klient_title {
  width: 478px;
  margin-bottom: 30px;
  font-size: 18px;
}
.klient_descripe {
  margin-left: 50px;
  margin-bottom: 15px;
}
.klient_consult {
  margin-top: 124px;
  color: #303030;
  margin-left: 50px;
}

/* SHAGOV */
.shagov {
  margin-bottom: 150px;
}
.shagov_info {
  display: flex;
  justify-content: space-between;
}
.shagov_info_text {
  width: 50%;
}
.shagov_img {
  width: 50%;
}
.shagov_head_title {
  width: 324px;
  margin-bottom: 60px;
}
.shagov_number {
  margin-bottom: 11px;
  font-weight: 100;
}
.shagov_title {
  margin-bottom: 2px;
}
.shagov_descripe {
  margin-bottom: 30px;
  width: 510px;
}
/* SHAGOV */

/* FOOTER */
.footer {
  height: 730px;

  color: white;
}
.background-footer {
  padding-top: 70px;
  background-image: url("../images/footer.png");
}
.footer_block {
  width: 100%;
  display: flex;
  margin-bottom: 150px;
}
.zayafka {
  width: 50%;
}
.contact {
  width: 50%;
}
.footer_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
  margin-bottom: 60px;
}
.name {
  margin-bottom: 11px;
}
.name_line {
  width: 510px;
  margin-bottom: 60px;
}
.ostavit {
  margin-top: 119px;
  font-size: 18px;
}
.adress {
  margin-bottom: 30px;
  font-weight: 100;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.social_network: {
  width: 250px;
}
.social-img:not(:last-child) {
  margin-right: 20px;
}
/* /FOOTER */
